* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url(../assets/florian-olivo-4hbJ-eymZ1o-unsplash.jpg) center /
    cover;
  color: white;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
  background-color: #fff;
}

li,
a,
button {
  font-family: "Monsterrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

button,
.submit-btn {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover,
.submit-btn:hover {
  background-color: rgba(0, 136, 169, 0.8);
  color: white;
}

main {
  padding: 0 5%;
}

main h2 {
  margin: 0;
}

.wrap {
  display: flex;
  flex-grow: 1;
}

.projects {
  text-align: center;
}

.logo {
  margin-right: auto;
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}
